/* Спільна частина всіх сторінок сайту */

    /* Підключення кольорів тексту та фону (через змінні) */

        :root {
            --full-black-color:#000000;
            --full-white-color:#FFFFFF;
            
            --basic-blue-color:#2196F3;
            --basic-black-color:#212121;
            --basic-gray-color:#757575;

            --additional-background-gray-color:#2F303A;
            --additional-button-gray-color:#F5F4FA;
            --additional-white-color:rgba(255, 255, 255, 0.6);
            --additional-blue-color:#188CE8;  
            --additional-purple-color:#800080;   

            }

    /* Загальні властивості об'єктів*/
            
        body {
            background-color: var(--full-white-color);
            color: var(--basic-black-color);

            font-family:'Roboto', sans-serif;
            letter-spacing: 0.03em;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            }

        .list {
            list-style: none;
            }

        .button {
                background-color: var(--basic-blue-color);
                color: var(--full-white-color);

                width: 220px;
                height: 50px;

                padding: 10px 32px;
                border: none ;
                border-radius: 4px;
                }

        .button:hover {
                    background-color:var(--additional-blue-color)
                     }

        .section-title {
                    color:var(--basic-black-color);
                    
                    font-weight: 700;
                    font-size: 36px;
                    
                    text-align: center;                      
                    }

/* Головна сторінка сайту (Студія) */
        
        /* Шапка з основними посиланнями*/
        
            /* Логотип */

            .logo {
                color: var(--full-black-color);
               
                text-decoration: none;
                
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 26px;
                }

            .add-logo {
                    color: var(--basic-blue-color);
                    }

            /* Вкладки  */

            .site-nav .link:hover,
            .site-nav .link:focus {
                            color: var(--basic-blue-color);
                             }

            .site-nav .link {
                        text-decoration: none;
                        color: var(--basic-black-color);

                        font-weight: 500;
                         }                
           
            .site-nav .link.current {
                                color: var(--basic-blue-color);
                                }

            .site-nav .link.current:hover {
                                    color: var(--additional-purple-color);
                                        }

            /* Авторизація */

            .auth-nav .link:hover,
            .auth-nav .link:focus {
                            color:var(--basic-blue-color);
                        }

            .auth-nav .link {
                        text-decoration: none;
                        color: var(--basic-gray-color);

                        font-weight: 500;
                            }   
                            
        /* Основний банер (Hero) */

            .hero {
                 background-color: var(--additional-background-gray-color);
                 }

            .hero-title {
                    color: var(--full-white-color);
                    
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 1.35;                               
                    letter-spacing:0.06em;

                    text-align: center; 
                    text-transform: uppercase;
                     }

            .button.primary {
                        font-family: 'Roboto';
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.5;
                        letter-spacing: 0.06em;

                        display: flex;
                        align-items: center;
                        text-align: center;  

                        cursor: pointer;
                        }

        /* Блок - Особливості роботи компанії */
            
            .features-work h3 {
                            font-size: 14px;
                            
                            text-transform: uppercase;
                        }

            .features-work p {
                            color: var(--basic-gray-color);

                            line-height: 1.5;
                            } 
            
        /* Блок - Візуалізація роботи компанії */
            
            .visual {

                    }
        /* Блок  - Команда співробітників */
            
            .team h3 {
                    font-weight: 500;
                    font-size: 16px;
                                
                    text-align: center;
                    }

            .team p {
                    color: var(--basic-gray-color);
                    
                    font-size: 16px;
                                    
                    text-align: center;
                    }

        /* Підвал з адресними даними та посиланням */
                 
        .footer {
                background-color: var(--additional-background-gray-color);
                }

            /* Логотип (дублювання)  */

            .footer .logo {
                        color: var(--full-white-color); 
                         }

            /* Адреса */

            .address {
                     font-style: normal;
                    }

            .address-item .link:hover,
            .address-item .link:focus {
                                color: var(--basic-blue-color);
                                }

            .address-item .link {
                            text-decoration: none;
                            color: var(--additional-white-color);
                            }                

                /* Геодані */

                .address .geo-date {
                            color: var(--full-white-color);
                             }

            
/* Додаткова сторінка сайту (Портфоліо) */

    /* Основне поле */
    
        /* Фільтр робіт */

        .button-filter {
            background-color: var(--additional-button-gray-color);
            color: var(--basic-black-color);

            width: fit-content;
            height: 40px;
            padding: 8px 25px;
            border: none ;
            border-radius: 4px;

            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.06em;

            display: flex;
            align-items: center;
            text-align: center;  

            cursor: pointer;
            }

        .button-filter:hover,
        .button-filter:focus {
                        background-color: var(--basic-blue-color);
                        color: var(--full-white-color);
                            }

        .button-filter.current {
                        background-color: var(--basic-blue-color);
                        color: var(--full-white-color);
                            }

        .button-filter.current:hover {
                                background-color: var(--additional-blue-color);
                                color: var(--additional-purple-color);
                                    }

        /* Макети робіт */

        .exampel h3 {
                    color:var(--basic-black-color);

                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.5;
                    letter-spacing: 0.06em;
                    }

        .exampel p {
                color:var(--basic-gray-color);    
                
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.03em;
                }

        .exampel .descr {
                    background-color: var(--basic-blue-color);
                    color: var(--full-white-color);

                    font-size: 18px;
                    }
